@import '../../bower_components/swiper/dist/css/swiper.min.css';
@import '../../bower_components/normalize.css/normalize.css';

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix   {
    display:inline-table;
    height:1%;
    display:block;
}
#loading {
    background:url("/static/image/299.gif") no-repeat;
    background-color:rgba(0,0,0,0.8);
    background-position:center;
    background-size:auto;
    position:absolute;
    width:100%;
    height:100%;
    z-index:100000;

}
input,textarea {
    -webkit-user-select:initial;
}
.swiper-container {
    display:none;
}
.share {
    display:none;
}
@-webkit-keyframes tap {
    0% {
        -webkit-transform:scale(1);
        opacity:1;
    }
    100% {
        -webkit-transform:scale(1.3);
        opacity:0.1;
    }
}
@-webkit-keyframes ratote {
    0% {
        -webkit-transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
    }
}
@-webkit-keyframes up-animation {
    0%,100% {
        -webkit-transform:scale(1);
        opacity:.9;
    }
    1%,99% {
        -webkit-transform:translateY(0);
    }
    49% {
        -webkit-transform:translateY(-15px);
    }
    50% {
        opacity:0;
        -webkit-transform:scale(0.2);
    }
}
@-webkit-keyframes title-first {
    0% {
        -webkit-transform:translateY(-0.5rem) scale(4);
    }
    100% {
        -webkit-transform:translateY(0) scale(1);
    }
}
@-webkit-keyframes title {
    0% {
        -webkit-transform:translateX(-1rem);
    }
    100% {
        -webkit-transform:translateX(0);
    }
}
@-webkit-keyframes sound {
    0%,100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}
@-webkit-keyframes desc {
    0%,100% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
}
@-webkit-keyframes main {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
animation(time,name,delay) {
    -webkit-animation-duration:time;
    -webkit-animation-name:name;
    -webkit-backface-visibility: hidden;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay:delay;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-touch-callout:none;
}
background(image) {
    height:100%;
    width:100%;
    position:relative;
    background-image:url('/static/image/'+image);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    z-index:1;
}
image-wauto(image) {
    background-image:url('/static/image/'+image);
    background-repeat:no-repeat;
    background-position:top center;
    background-size:100% auto;
}
image-hauto(image) {
    background-image:url('/static/image/'+image);
    background-repeat:no-repeat;
    background-position:top center;
    background-size:auto 100%;
}
image-fit(image) {
    background-image:url('/static/image/'+image);
    background-repeat:no-repeat;
    background-position:top center;
    background-size:100% 100%;
}
.up {
    -webkit-animation-name:up-animation;
    -webkit-animation-duration: 1.5s!important;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode:both;
    image-wauto('up.png');
    height:0.12rem;
    width:0.06rem;
    position:absolute;
    bottom:0;
    z-index:5;
    left:0.47rem;
}
.share-background {
    background-color:rgba(0,0,0,0.8);
    image-wauto('share-background.png');
    position:absolute;
    width:100%;
    height:100%;
    background-position:center;
    display:none;
    z-index:100;
}
.music {
    image-wauto('music.png');
    width:0.08rem;
    height:0.08rem;
    z-index:20;
    top:0.03rem;
    position:absolute;
    left:0.03rem;
}
.music-play {                                                                   
    -webkit-animation-name:ratote;
    -webkit-backface-visibility: hidden;
    -webkit-animation-duration: 3s; 
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-fill-mode: both;
} 

body {
    height:100%;
    position:absolute;
    font-size: 14px;
    color: #333; 
    font-family: '微软雅黑';
    background-color: #fff;
    letter-spacing: 1px;
    margin:0 auto;
    box-shadow: 0 0 160px 0 #5C99E7;
    -webkit-user-select: none;
    background-size:cover;
    width:1rem;
    box-sizing:border-box;
    -webkit-transition:all .5s;
    .swiper-container {
        width:100%;
        height:100vh;
    }
    .share {
        position:absolute;
        width:100%;
        height:100%;
        z-index:10;
        .background {
            background('background4.jpg');
        }
        .title-share {
            z-index:2;
            image-wauto('title-share.png')
            width:100%;
            height:1rem;
            position:absolute;
            top:0;
        }
        .border-box {
            image-wauto('box5.jpg');
            width:90%;
            height:90%;
            background-position:top;
            bottom:0.2rem;
            position:absolute;
            top:5%;
            margin-left:5%;
            margin-top:9%;
            z-index:5;
        } 
        .border-avatar {
            z-index:2;
            image-wauto('border-avatar.png')
            width:45%;
            height:23.4%;
            left:50%;
            margin-left:-22.5%;
            position:absolute;
            top:24%;
            .avatar {
                position:absolute;
                width:90%;
                height:90%;
                left:5%;
                top:5%;
                image-wauto('avatar.png');
                background-position:center;

            }
            .avatar-file {
                visibility:hidden;
                width:0;
                height:0;
            }

        }
        .message {
            .message-area {
                text-align:center;
                #desc {
                    background-image:url('/static/image/textarea-background.png');
                    background-repeat:no-repeat;
                    background-color:transparent;
                    background-size:100% auto;
                    margin:0 auto;
                    border:none;
                    width:80%;
                    color:#573932;
                    position:absolute;
                    line-height:0.08rem;
                    height:20%;
                    font-size:0.04rem;
                    resize:none;
                    top:47%;
                    left:10%;
                    &:focus {
                        outline:none;
                    }
                    &::-webkit-input-placeholder {
                        color:#573932;
                    }
                }
            }
            .submit {
                image-wauto('submit-btn.png');
                width:0.25rem;
                height:0.1rem;
                position:absolute;
                left:50%;
                margin-left:-0.125rem;
                margin-top:0.025rem;
            }
        }
        .line {
            position:absolute;
            width:100%;
            top:69%;
            .left {
                display:inline-block;
                width:50%;
                color:#573932;
                .like {
                    margin:0 0.02rem 0 0.06rem;
                    border:2px dashed #573932;
                    padding:0.01rem;
                    border-radius:0.1rem;
                    line-height:0.047rem;
                    background-color:#fff;
                    white-space:nowrap;
                    .star-icon {
                        display:inline-block;
                        image-wauto('share-star.png');
                        width:0.04rem;
                        height:0.04rem;
                        vertical-align:bottom;
                    }
                    .count {
                        display:inline-block;
                        margin-left:0.02rem;
                    }
                }
            }
            .right {
                display:inline-block;
                width:50%;
               .rank {
                    margin: 0 0.06rem 0 0.02rem;
                    border:2px dashed #573932;
                    padding:0.01rem;
                    border-radius:0.1rem;
                    line-height:0.047rem;
                    white-space:nowrap;
                    background-color:#fff;
                    .rank-icon {
                        display:inline-block;
                        image-wauto('share-rank.png');
                        width:0.04rem;
                        height:0.04rem;
                        vertical-align:bottom;
                   }
                   .count {
                        display:inline-block;
                        margin-left:0.02rem; 
                   }
                }

            }
        }
        .btn-line {
            position:absolute;
            top:79%;
            width:100%;
            .go {
                image-wauto('go-btn.png');
                width:0.26rem;
                height:0.09rem;
                display:inline-block;
                position:absolute;
                left:0.1rem;
            }
            .share-btn {
                image-wauto('share-btn.png');
                width:0.26rem;
                height:0.09rem;
                display:inline-block;
                position:absolute;
                right:0.1rem;
            }
        }

    }
    .page1 {
        .background {
            background('background1.jpg');
        }
        .main {
            image-wauto('main1.png');
            width:100%;
            height:2rem;
            position:absolute;
            background-position:bottom;
            bottom:0;
            z-index:5;
        }
        .title {
            z-index:2;
            image-wauto('title1.png')
            width:100%;
            height:1rem;
            position:absolute;
            top:0;
            animation(0.7s,'title',0.2s)
            display:none;        
        }
    }
    .page2 {
        .background {
            background('background2.jpg');
        }
        .main {
            image-wauto('main2.png');
            width:100%;
            height:2rem;
            position:absolute;
            background-position:bottom;
            bottom:0;
            z-index:5;
        }
        .title {
            z-index:2;
            image-wauto('title2.png')
            width:100%;
            height:1rem;
            position:absolute;
            top:0;
            animation(0.7s,'title',0.2s)
            display:none;        
        }
    }
    .page3 {
        .background {
            background('background3.jpg');
        }
        .title {
            z-index:2;
            image-wauto('title3.png')
            width:100%;
            height:1rem;
            position:absolute;
            top:0;
            animation(0.7s,'title',0.2s)
            display:none;        
        }
    }
    .page4 {
        .background {
            background('background4.jpg');
        }
        .main {
            image-wauto('main4.png');
            width:100%;
            height:2rem;
            position:absolute;
            background-position:top;
            top:35%;
            z-index:5;
        }
        .submit {
            image-wauto('submit.png');
            width:0.25rem;
            height:0.09rem;
            bottom:0.1rem;
            left:50%;
            margin-left:-.125rem;
            position:absolute;
            z-index:5;
        }
        .title {
            z-index:2;
            image-hauto('title4.png')
            width:100%;
            height:30%;
            position:absolute;
            top:0;
            animation(0.7s,'title',0.2s)
        }
    }
    .page5 {
        .background {
            background('background4.jpg');
        }
        .border-box {
            image-wauto('box5.jpg');
            width:90%;
            height:90%;
            background-position:top;
            bottom:0.2rem;
            position:absolute;
            margin-left:5%;
            top:5%;
            z-index:5;
        } 
        .border-avatar {
            z-index:2;
            image-wauto('border-avatar.png')
            width:45%;
            height:22.4%;
            left:50%;
            margin-left:-22.5%;
            position:absolute;
            top:0.15rem;
            .avatar {
                position:absolute;
                width:90%;
                height:90%;
                left:5%;
                top:5%;
                image-wauto('avatar.png');
                background-position:center;

            }
            .avatar-file {
                visibility:hidden;
                width:0;
                height:0;
            }

        }
        .message {
            position:absolute;
            width:100%;
            top:34%;
            .line-first {
                text-align:center;
                height:0.12rem;
                input {
                    text-align:center;
                    height:0.08rem;
                    line-height:0.08rem;
                    border:1px solid #998365;
                    border-radius:0.02rem;
                    color:#573932;
                    font-size:0.045rem;
                    &::-webkit-input-placeholder {
                        color:#573932;
                    }
                }
            }
            .line-second {
                text-align:center;
                height:0.12rem;
                input {
                    text-align:center;
                    height:0.08rem;
                    line-height:0.08rem;
                    border:1px solid #998365;
                    border-radius:0.02rem;
                    width:80%;
                    color:#573932;
                    font-size:0.045rem;
                    &::-webkit-input-placeholder {
                        color:#573932;
                    }
                }
            }
            .message-area {
                text-align:center;
                textarea {
                    background-image:url('/static/image/textarea-background.png');
                    background-repeat:no-repeat;
                    background-color:transparent;
                    background-size:auto 100%;
                    border:none;
                    width:80%;
                    color:#573932;
                    line-height:0.08rem;
                    height:0.3rem;
                    font-size:0.04rem;
                    resize:none;
                    &:focus {
                        outline:none;
                    }
                    &::-webkit-input-placeholder {
                        color:#573932;
                    }
                }
            }
            .submit {
                image-wauto('submit-btn.png');
                width:0.25rem;
                height:0.1rem;
                position:absolute;
                left:50%;
                margin-left:-0.125rem;
                margin-top:0.025rem;
            }
        }
    }
}
